@model IEnumerable<StudentManagementSystem.ViewModel.TeacherVm>
@{

}
<p>
    <a class="btn btn-sm btn-primary" asp-action="CreateOrEdit">Create New</a>
</p>
<div class="container">
    <div class="row mt-auto">
        <table class="table  table-striped" id="TeacherTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>
    </div>
</div>
 
@section scripts {
    <script>
        $(document).ready(function () {
            // AJAX call to retrieve data
            $.ajax({
                url: '@Url.Action("GetAllTeacher", "Teacher")',
                type: 'GET',
                success: function (data) {
                    // Bind data to tbody
                    var tbody = $('#TeacherTable tbody');
                    tbody.empty();
                    $.each(data, function (index, item) {
                        var row = '<tr>' +
                            '<td>' + (index + 1) + '</td>' +
                            '<td>' + item.name + '</td>' +
                            '<td>' + item.email + '</td>' +
                            '<td>' + item.phone + '</td>' +
                            '<td>' + item.image + '</td>' +
                            '<td>' +
                            '<a class="btn btn-sm btn-primary" href="@Url.Action("CreateOrEdit", "Teacher")/' + item.id + '">Edit</a> ' +
                            '<a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Teacher")/' + item.id + '" onclick="return confirm(\'Are You Sure?\')">Delete</a>' +
                            '</td>' +
                            '</tr>';
                        tbody.append(row);
                    });

                    // DataTable initialization with paging
                    $('#TeacherTable').DataTable({
                        "paging": true,
                        "pageLength": 10, // You can adjust the number of records per page
                        // Add other DataTable configurations as needed
                    });
                }
            });
        });
    </script>
}
